<div class="container">
    <div class="row">
    <div class="col col-sm-2"><img src="../../assets/customerLogos/Beechwood.jpg" width="100%" /></div>
    <div class="col col-sm-4 Aligner"><img src="../../assets/customerLogos/Dynapac.JPG" width="100%" /></div>
    <div class="col col-sm-2 Aligner"><img src="../../assets/customerLogos/FM-Conway.png" width="100%" /></div>
    <div class="col col-sm-4 Aligner"><img src="../../assets/customerLogos/kenson.jpg" width="100%" /></div>
    </div>

    <div class="row margin-bottom">
      <div class="col-sm-3">&nbsp;</div>
      <div class="col col-sm-3 Aligner"><img src="../../assets/customerLogos/Toppersfield.png" width="100%" /></div>
      <div class="col col-sm-2 Aligner"><img src="../../assets/customerLogos/MBP.jpg" width="100%" /></div>
      <div class="col col-sm-1 Aligner"><img src="../../assets/customerLogos/AAC.png" width="100%" /></div>
    </div>
</div>




