<div class="container jumbo-wrapper">
<header class="jumbotron">
    <div id="logo-wrapper">
        <div class="logo-holder"><img src="../assets/webAssets/SLAutos.png" /></div>
        <p>Established in 2004</p>
    </div>

    <div id="image-container" class="carousel slide" data-ride="carousel" data-interval="5500">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 h-100" src="../assets/headerImages/dynapac-machine.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-100" src="../assets/headerImages/parts.JPG" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-100" src="../assets/headerImages/tarmac-spreader.JPG" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-100" src="../assets/headerImages/dynapac-macine-2.JPG" alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-100" src="../assets/headerImages/converyor-machine.jpg" alt="Fifth slide">
            </div>
        </div>
    </div>

    <div id="background-cover"></div>
</header>
    <h1 class="container page-title">{{title}}</h1>
</div>

<div class="container wrapper nav-wrapper">
<nav class="nav d-flex justify-content-end">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/our-customers" routerLinkActive="active">Our Customers</a>
</nav>
</div>

<div class="container wrapper">
<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="row">
    <div class="col-sm-5 address">
        <p><strong>Mailing Address:</strong><Br />
            SL Auto's Ltd<Br />
            The Tin Shed, Temple Farm<Br />
            Bradenham Lane<Br />
            Marlow, Bucks<Br />
            SL7 1RZ</p>
    </div>
    <div class="col-sm-7 justify-content-end contact-info">
        <div class="row">
                <div class="col col-sm-6 justify-right shaun">
                        <p><strong>Engineer : Shaun</strong><br />
                            Email: <a href="mailto:shaun@slautosservices.co.uk">shaun@slautosservices.co.uk</a></p>
                    </div>
                    <div class="col col-sm-6 border-left vicky">
                        <p><strong>Accounts : Vicky</strong><br />
                            Email: <a href="mailto:accounts@slautosservices.co.uk">accounts@slautosservices.co.uk</a><br />
                            or <a href="mailto:vicky.slautos@gmail.com">vicky.slautos@gmail.com</a></p>
                    </div>
        </div>
    </div>
</footer>
</div>

<div id="background-cover"></div>
<div class="container d-flex justify-content-end">
    <p class="developer">Designed &amp; developed by <a href="http://www.pixelbof.co.uk" target="_blank">Pixelbof</a></p>
</div>