/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; 

/*Global styles*/
html {

}

body, html {
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(/assets/backgroundImages/machine1.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: inherit;
}

.wrapper {
    position: relative;
    padding: 15px ;
    background-color: #fff;
    z-index: 1000;
}

#background-cover {
    position:absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255,255,255,0.45);
    z-index: -1;
}

.justify-right {
    text-align: right;
}

.border-right {
    border-right: 2px solid #000 !important;
}

.border-left {
    border-left: 2px solid #000 !important;
}

.margin-bottom {
    margin-bottom: 80px;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

/*Header-image holder Styles*/

.jumbo-wrapper {
    padding: 0;
    position: relative;
    border-bottom: 1px solid #fff;
}

.jumbo-wrapper .page-title {
    position: absolute;
    bottom: -19px;
    left: 0;
    color: #fff;
    z-index: 1;
}

.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    height: 450px;
    padding: 0;
}

.jumbotron #background-cover {
    position:absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 1;
}

#logo-wrapper {
    width: 200px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 10;
}

#logo-wrapper p {
    text-align: center;
    color: #fff;
    margin-top: 5px;
}

.logo-holder {
    padding: 15px;
    background-color: #fff;
}

.logo-holder img {
    width: 100%;
}

#image-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
}

#image-container img {
    position: absolute;
    bottom: -150px;
    left: 0;
    min-height: 150%;
    width: 100%;
    max-width: none;
    max-height: none;
}

/*Navigation Styles*/

.nav-wrapper {
    padding-top: 0;
}

nav a {
    background-color: #666;
    color: #fff !important;
    padding: 6px 15px;
    height: 39px;
    margin-left: 2px;
}

nav a:hover, nav a.active {
    background-color: #000;
    text-decoration: underline !important;
}

nav a.active {
    height: 49px;
}

/*Footer Styles*/

footer {
    border-top: 1px solid #000;
    padding-top: 15px;
    margin-top: 15px;
}


footer .address p {
    margin-bottom: 0;
}

@media (max-width: 768px) { 
    footer .address p {
        text-align: center;
    }
 }

.contact-info {
    margin-top: 20px;
    padding-bottom: 25px;
}

.contact-info .shaun p {
   position: relative;
   top: 21px;
}

.contact-info .vicky p {
   position: relative;
   top: 10px;
}

.developer {
    position: relative;
    color: #fff;
    font-size: 0.8em;
    padding-top: 10px;
    text-shadow: 1px 2px 2px #666;
}

.developer a {
    color: #fff;
    text-decoration: underline;
}