<p>
  Formed in 2004; SL Auto's started out with a factory trained engineer, who was also a technician for Jaguar. Now 14 years later the business focuses on Plant machinery and pavers. SL autos' offers a range of services including Engineering, Agro Industries, General Plant, Fabrication Work, Augmentation and modifying machinery specs from new to customers requirements.Servicing, Breakdowns and call outs for plant machinery and pavers.
SL Auto's is fully certified and insured. 
</p>

<a routerLink="/our-customers"><img src="../../assets/webAssets/our-customers.jpg" width="100%" /></a>